
/*------------------------------------------------------------------

	[Table of contents]

	1. Pagination
	2. WordPress Cores
	3. Widgets
	4. Share Buttons
	5.  Articles
	6. Post Content Area
	7. Footer

-------------------------------------------------------------------*/
body {
    color: #222;
    background-color: #fff;
    font: 400 14px/1.6em 'Nunito', sans-serif;
}
.nt-text-logo {
	margin: 9px 0;
	font-size: 19px;
	display: inline-block;
	text-transform: capitalize;
}
/* 1. Pagination */

.navigation.pagination {
    margin: 30px  auto;
    text-align: center;
    display: block;
}
.pager {
	padding-top: 24px;
	margin-bottom: 60px;
	padding: 20px 0;
}
.pager li {
    display: inline;
	list-style: none;
}
.pager .previous>a, .pager .previous>span {
    float: left;
}
.pager .next>a, .pager .next>span {
    float: right;
}
.pager li > a, .pager li > span {
	color: #222222;
	line-height: 1.42857143;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	border: 0;
	display: inline-block;
	width: 210px;
	white-space: nowrap;
	overflow:hidden !important;
	text-overflow: ellipsis;
	font: 600 12px/1.428571 'Poppins', sans-serif;
	letter-spacing: 1.5px;
	text-;
	padding: 5px 0;
}
.pager li > a i.icon-long-arrow-right {
	margin-left:15px;
	}
.pager li > a i.icon-long-arrow-left {
	margin-right:15px;
}
.pager li > a:hover {
	color: #FFF;
	background: #0db8ca;
	border-color: #0db8ca;
}

/* 1. WordPress Core */

#blog {
	background: #f7f7f7;
    padding-top: 80px;
	position: relative;
}
a {
    color: #0db8ca;
}
#blog dt {
    font-weight: 700;
}
#blog dd {
    margin-left: 0;
    margin-bottom: 15px;
}
.relative {
	position: relative !important;
}
.bypostauthor,
.gallery-caption { display: block;}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    padding: 5px 3px 10px;
    text-align: center;
}
.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}
.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}
.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;

	    margin: 15px 0 0;
    font-size: 14px;
    padding: 0 4px 5px;
}
.sticky_text {
	background: #857F79;
	padding: 10px;
	color: #FFF;
	padding: 5px 10px;
	border-radius: 3px;
	display: inline-block;
	margin: 1px 0 10px;
}
.margin_30 {
	margin: 0;
	padding: 0;
	font-size: 15px;
	text-transform: none;
	font-weight: 700;
	letter-spacing: 0px;
}
.more-link{
	color: #428BCA;
}

article ul {
	list-style-type: inherit;
	padding: 0 20px;
}

.page article .article-img {
	margin-bottom:40px;
}

.nav-links span.current {
	border: 0px solid #bed094!important;
	color: #fff !important;
	background: #bed094;
	border-radius: 100%;
}
.nav-links a.page-numbers ,.nav-links span.current {
	border: 0px solid #efefef;
	padding: 8px 14px;
	color: #262626;
	/* display: inline-block; */
}

h1, h2, h3, h4, h5, h6 {  word-spacing: 0px;}

.copyright {margin:0;}
.m-bottom-50 {
	margin-bottom : 50px
}
.nt_forester_footer_type_1 .social-icons li  {float:right;list-style:none;}
.social-icons a {
	color: #fff;
	font-size: 22px;
	margin-left: 10px;
}
/* 3. Widgets */
#widget-area .widget img{
	max-width:100%;
}
#widget-area .widget:last-child {
	padding-bottom:0px !important;
	margin-bottom: 0px !important;
}
#widget-area #searchform  {
	position:relative;
	max-height: 50px;
}
#widget-area .menu {
	opacity: 1 !important;
}
#widget-area #searchform input#searchsubmit {
    position: absolute;
    right: 0px;
    top: 0px;
    background: rgba(249, 241, 230, 0);
    border: 0;
    background: #2c97de;
    color: #322C2C;
    margin-left: 0;
    height: 40px;
    padding: 0 15px;
    color: #fff;
    border: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
#widget-area #searchform input[type="text"] {
	width: 76%;
	-webkit-box-sizing: content-box;
	font-size: 14px;
	font-weight: 100;
	position: relative;
	overflow: hidden;
	border: none;
	background: #f5f5f5;
	background-clip: padding-box;
	box-shadow: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	height: 40px;
	padding: 0 20px;
	color: #333;
}


#widget-area .widget_text {
  min-height: 20px;
}

.widget-title {
	position:relative;
}

.widget-title:after {
    display: inline-block;
    margin-left: 5px;
    border-radius: 50%;
}
#widget-area{}
.widget-title{font-weight:bold;color:#fff;}
.widget ul{color: #000;}
.widget ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.52);
}
#widget-area .widget a{text-decoration:none;color: #0db8ca;}
.latest-content span{ color:#FFF;}
.widget a:hover{color:#FFF;}
.widget ul li a:hover{/* color: #3192fb; */}
#widget-area #searchform input#searchsubmit{color:#333;}
#widget-area #searchform input#searchsubmit{background-color:#FFED91;}
#widget-area #searchform input#searchsubmit {
    background-color: #222;
    color: #fff;
}
#widget-area .widget-title {
    color: #222;
    font: 600 18px 'Poppins', sans-serif;
    text-transform: capitalize;
    letter-spacing: 0;
    margin-bottom: 20px;
}

#widget-area .widget ul li a {
    text-decoration: none;
    color: #585858;
}
.widget ul li {list-style:none}

.widget table thead th, table tbody td, table tr td {
	display: table-cell;
	padding: 8px;
	vertical-align: top;
	text-align: left;
	border-top: 1px solid #E5E5E5;
}
.widget  table thead tr th {
	font-size: 14px;
	font-weight: normal;
}
.widget  table tr td, table tbody tr td {
	font-size: 12px;
	color: #333;
}

.widget #calendar_wrap caption {
	text-align: left;
	font-size: 14px;
	padding: 0 0 20px;
}
.widget select {
	width: 100%;
	padding: 10px;
	margin: 0 0 15px;
	border: 2px solid #E1E2E6;
	border-radius: 3px;
	font-weight: 700;
}
.widget{
	margin-bottom: 40px;
	position: relative;
}

.widget ul {
	margin:0;
	padding:0;
}

.widget ul li > ul {
	padding: 15px 0 0 15px;
}

.woo-sidebar .widget {
	margin-bottom: 20px ;
	display: inline-block;
	width: 100%;
}

.woo-sidebar .widget ul {
	margin:0;
	padding:0;
	display: inline-block;
}

#widget-area .widget ul  >  li {
	padding: 0 0 10px;
}
#widget-area .widget ul > li .children li, #widget-area .widget ul > li .sub-menu li {
    padding: 0 0 10px;
    list-style-type: disc !important;
}

.widget ul li a{
	text-transform: capitalize;
	color: #000;
}


#primary {
	padding:40px 0 0;
	font-size: 15px;
	letter-spacing: 0.5px;
	font-weight: 500;
}
#primary iframe{
	max-width: 100%
}
section.page {
	padding:0;
}
.post-meta-first {
	margin-bottom: 15px;
	padding-bottom: 0px;
	font-weight: normal;
	text-transform: capitalize;
	font-size: 14px;
}
.post-meta-second {}
.post-meta-second span i, .post-meta-first span i{
	margin: 0 6px 0 6px;
	padding-right: 3px;
	font-size: 14px;
	vertical-align: inherit;
}
.post-meta-second span:first-child i, .post-meta-first span:first-child  i{
	margin-left:0
}
.entry-title {
	margin: 0;
	margin-bottom: 15px;
	color: #222222;
}

.entry-title a{
	padding:0;
	color: #2B2F3E;
	font-size: 21px;
	text-decoration: inherit;
}

.article-img , .blog-bg{
	margin-bottom: 20px;
}
article img {
	max-width: 100%;
	height: auto !important;
}
.posts article:last-child {
	border:none !important;
	margin-bottom: 0px;
	border: 0;
	padding-bottom: 0;
}

.navigation  h2 {
	display:none;
}
.tags-links{
	border-right: 2px solid #ddd;
	padding: 0px 10px 0 0px;
	display: inline-block;
	margin: 0px 10px 0px 0;
}

p.category {

	padding: 0px 10px 0 0px;
	display: inline-block;
	margin: 0px 10px 0px 0;
}
.meta {
	margin: 20px 0;
	font-size: 12px;
}
code {
	white-space: normal;
  }
.single-post article {
	margin-bottom: 14px;
}

.breadcrumbs {
	margin-top:20px;
	font-size: 13px;
}
.right  .breadcrumbs {
	text-align: right;
}
.breadcrumbs.left {
	text-align: left;
}
span.bredcrumb-separator {
	margin: 0 5px;
}
.content-container {
	position:relative;
	margin-bottom: 0px;
}

.content-container footer span{
	position: absolute;
	top: -60px;
	left: 0px;
	background: #2EB267;
	padding: 5px 10px;
	color: #FFF;
}
.content-container footer span a{
	color: #FFF;
}

.align-center.edit-buttons {
	text-align:center;
	position:relative;
}
.align-center.edit-buttons span a{
	color: #FFF;
}
.align-center.edit-buttons span{
	text-align: center;
	position: absolute;
	top: 0px;
	background: #2EB267;
	color: #FFF;
	padding:5px 10px;
}
.video-responsive{
  width:100%;
}
.video-responsive iframe{
width: 100%;

}

.pager .next > a i {
	margin-top: -3px;
	vertical-align: middle;
	margin-left: 8px;
	font-size: 16px;
}
.pager .previous > a i {
	margin-top: -3px;
	vertical-align: middle;
	margin-right: 8px;
	font-size: 16px;
}

.navbar-header .logo {
	vertical-align: middle;
	display: inline-block;
	position: relative;
	line-height: 60px;
}

.strong {
	font-weight: 600;
}

/* 4. Share Buttons */

#share-buttons {
	margin: 30px 0 0;
}
#share-buttons i {
	font-size: 19px;
	color: #222;
}

#share-buttons a {
	position:relative;
	padding-right: 10px;
}
#share-buttons a:after {
    background: rgba(255, 255, 255, 0);
    bottom: 0;
    content: "";
    height: 4px;
    left: -4px;
    top: 15px;
    position: absolute;
    width: 12px;
    border-radius: 0;
}

.navbar-custom .navbar-brand img {max-width: 125px; width: 100%; max-height: 50px;}
.navbar-header .navbar-brand {display:table;}

.post-password-form label {
	display:inline
}
.post-password-form input[type=password] {
	width: auto;
	margin: 15px;
	background: none repeat scroll 0 0 #FFF;
	border: 1px solid #CCC;
	border-radius: 5px 5px 5px 5px;
	font-size: 13px;
	padding: 6px;
	vertical-align: middle;
}
.post-password-form input[type=submit] {
	display: inline-block;
	padding: 8px 12px;
	color: #fff;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	background-image: none;
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 4px;
	background: #333;
}

.gallery-content ul {padding:0;}
.gallery-content ul li{list-style:none;}

/*  5.  Articles   */

#respond {
	margin-top: 40px;
}
#respond input {
    display: inherit;
    width: 100%;
    margin-bottom: 15px;
    padding: 6px 5px 7px !important;
    font-size: 14px;
}

article.page {
	background: inherit !important;
}
.search-results article, article.hentry {
	margin-bottom: 40px;
}
.page article.hentry {
	border-bottom: 0px;
	padding-bottom: 0px;
	 margin-bottom: 0px;

	}
.single article.hentry {
    margin-bottom: 40px;
}
.tag-pingbacks-2 .commentlist {
	list-style:none;
}
.post-container {padding: 0 40px 25px;}
.format-standard .post-container, .search-results .post-container{padding: 0;}
article.hentry.format-aside .hentry-box {background:#eee;}
article.hentry .entry-wrap {
    padding: 43px 35px 35px 35px;
}

.sticky {
  /* background-color: #f5f5f5; */
  /* padding: 20px 40px 40px 40px; */
  /* border: 3px solid #222; */
  }

.blog article.hentry .entry-wrap {
    margin-top: -1px;
}

.post-thumb {
    position: relative;
}

/* 6. Post Content Area */

.post .entry-content  li {list-style: inherit !important;}
.entry-content .gallery-item img{
	border:0 !important;
	margin-bottom: 10px;
}
.entry-content  .gallery-item {
    float: left;
    margin-top: 10px;
    text-align: left !important;
    width: 23% !important;
}
.entry-content  .gallery-caption {
    margin-left: 0;
    max-width: 150px !important;
}
.entry-content p iframe {
    max-width: 100%;
}
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
.commentlist  h1,
.commentlist  h2,
.commentlist  h3,
.commentlist  h4,
.commentlist  h5,
.commentlist  h6
{
	margin-bottom: 20px !important;
}

.blog-post-text h1, .entry-content h1 {font-size: 36px;font-weight: inherit;line-height: 1.2;letter-spacing: inherit;margin: inherit;margin-bottom: 20px;font-family: inherit;}
.blog-post-text h2,.entry-content h2 {font-size: 30px;font-weight: inherit;line-height: 1.2;letter-spacing: inherit;margin: inherit;margin-bottom: 20px;font-family: inherit;}
.blog-post-text h3,.entry-content h3 {font-size: 24px;font-weight: inherit;line-height: 1.2;letter-spacing: inherit;font-family: inherit;margin: inherit;margin-bottom: 20px;}
.blog-post-text h4,.entry-content h4 {font-size: 18px;font-weight: inherit;font-family: inherit;line-height: 1.2;letter-spacing: inherit;margin-bottom: 20px;text-transform: inherit;margin-bottom: 20px;}
.blog-post-text h5,.entry-content h5 {font-size: 14px;font-weight: inherit;line-height: 1.2;font-family: inherit;letter-spacing: inherit;margin-bottom: 20px;}
.blog-post-text h6,.entry-content h6 {font-size: 12px;font-weight: inherit;line-height: 1.2;font-family: inherit;letter-spacing: inherit;margin: inherit;margin-bottom: 20px;}
.commentlist  h1 {  font-size: 36px;}
.commentlist  h2 {  font-size: 30px;}
.commentlist  h3 {  font-size: 24px;}
.commentlist  h4 {  font-size: 18px;}
.commentlist  h5 {  font-size: 14px;}
.commentlist  h6 {  font-size: 12px;}
.entry-content p {color: #222;margin: 0 0 20px;}
.commentlist  p {color: #222;margin: 0 0 20px;}

.entry-content {
    padding: 0;
    display: inline-block;
    width: 100%;
}

.entry-content ul,
.entry-content ol,
.entry-content table,
.commentlist  div,
.commentlist  ul,
.commentlist  ol,
.commentlist  table
{
	/* list-style-type: decimal; */
	/* padding: 0; */
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 20px;
}
.commentlist > li.comment {list-style: none;position: relative;margin-bottom: 50px;}
.entry-content ol {
	list-style : decimal;
	padding-left :20px;
}
.entry-content ul {
	list-style : disc;
	padding-left :20px;
	padding-left :20px;
}
.entry-content ul ul {
	list-style : circle;
	padding-left :20px;
}
.entry-content ul ol ul {
	list-style : disc;
	padding-left :20px;
}
.divider {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #eeeeee;
    margin: 20px 0 40px;
}
.comments ul {}
.comments ul li {}
.comments ul li ul li {
    margin: 10px;
}
.comment.odd { margin-bottom:15px;}

#respond {padding: 40px;background: #FBFBFB;}
.commentlist {
	margin:0;
	padding:0;
	list-style: none;
}
.commentlist .children {
	margin-left: 30px;
	margin-top: 50px;
	padding: 0;
	position: relative;
}

#comments ul li {
	/* list-style:none; */
	font-family: 'Lato', sans-serif;
}

 .comment-content ul li, .comment-content ol li  {
	margin-bottom: 15px !important;
	margin-left: 20px !important;
}
.comment-content, .comment-content ul li  {
	list-style-type: disc !important ;
}
#comments ul li , #comments ul li  {/* font-family: 'Lato', sans-serif; *//* margin: 15px 0 30px 20px; */position: relative;}

.children li {margin-left: 5px;}

.vcard img{padding: 0 !important;width: 70px;height: 70px;overflow: hidden;-webkit-border-radius: 50%;-moz-border-radius: 50%;-ms-border-radius: 50%;-o-border-radius: 50%;border-radius: 50%;}

.vcard{
	margin-bottom: 25px;
	font-size: 12px;
	}

   ol li:not(.pingback) .comment-meta {
       float: none;
       margin-left: 86px;
       font-size: 10px;
       color: #818a9c;
       position: absolute;
       margin-top: 9px;
       top: 0;
       font-size: 11px;
   }
.comment.even {
    position: relative;
    list-style: none;
}
.comment-details{
	margin-left: 90px;
}
.children , .comments{
	margin-bottom: 40px;
	list-style-type: none;
}
.comment-details p{}

.comment-reply-link, .edit-comment {display: inline-block;/* float: left; */margin-right: 6px;/* border-radius: 40px; *//* font-weight: 700; */font-size: 12px;transition: 0.15s all;color: #fff;background-color: #0db8ca;padding: 2px 12px;}

.text-bold , .comment-reply-title{
	margin-bottom: 30px;
	font-size: 12px;
	color: #d77b5d;
}
#reply-title{margin-bottom: -5px;}

.comment-form textarea {
	  width: 100%;
	  height: 150px;
	  outline: none;
	  padding: 15px;
	  margin: 0;
	  border: 1px solid #e1e1e1;
	  resize: vertical;
	  background-color: #fff;
}
.comment-form-comment label {
	margin-bottom: 0px;
    font-size: 12px;
    display: inline-block;
    color: #24324A;
}
.comment-form .submit {
	margin-top:30px;
	border: none;
}

.depth-2 { margin-bottom: 20px}


/* formats */
.format-standard .post-thumb,
.format-status .post-thumb,
.format-gallery .post-thumb,
.format-quote .post-thumb,
.format-link .post-thumb,
.format-image .post-thumb,
.format-chat .post-thumb {
    overflow: hidden;
    margin-bottom: 30px;
}

.post-thumb img {
    width: 100%;
    height: inherit;
    display: block;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.format-aside p {
    margin: 0;
}

.format-gallery .post-thumb .flexslider {
    margin: 0;
}

.format-video .media-element {
    padding: 0px;
}

.format-chat .chat-transcript {
    color: #908f8f;
}

.format-chat .chat-transcript p {
    padding: 7px 10px;
    margin: 4px 0;
}

.format-chat .chat-transcript p:nth-child(even) {
    background: #f5f5f5;
}

.entry-title a:hover {
    color: #F37A5C;
}

.page-title {
    margin-bottom: 30px;
}

.entry-meta {
    margin: -12px 0 0;
    font-size: 14px;
    padding: 0 0 20px 0;
    text-transform: capitalize;
}

.entry-meta li, .blog-meta ul li {
    display: inline-block;
    padding: 2px 6px;
    position: relative;
    background-clip: padding-box;
}.entry-meta li a, .blog-meta ul li a {
display: -webkit-inline-box;
}
.entry-meta li:first-child, .blog-meta li:first-child {
    padding-left: 0;
}

.accent {
    border-bottom: 1px solid #fe544a;
    width: 50px;
    margin-bottom: 40px;
    margin-top: -1px;
}

.single .entry-meta {
	margin-top : 30px
}

.single-post .entry-meta {
	margin-top : 0px
}
.entry-meta a:hover {
    color: #202222;
}

.entry-meta .post-icon {
    position: relative;
    top: -2px;
}

.entry-meta > span {
    margin-right: 11px;
}

.entry-meta span:before {
    font-family: 'FontAwesome';
    font-size: 14px;
    padding-right: 10px;
}


.entry-meta .edit:before {
    content: '\f044';
    position: relative;
    top: 1px;
}

.read-more {
    margin: 20px 0 0 !important;
}
.more-link {
    margin: 0 !important;
    color: #fff !important;
}

/* Link / Quote Post Format ------------- */

.format-quote .entry-media,
.format-status .entry-media,
.format-link .entry-media {
    padding: 30px;
    background-repeat: repeat;
    background-position: center center;
}

.content-quote-format-wrapper {
    float: left;
    width: 100%;
    height: auto;
}

.content-quote-format-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.content-quote-format-textwrap {
    position: relative;
    z-index: 2;
}

.format-status .entry-media h3 {
    margin: 0;
}

.format-quote .entry-media h3,
.format-link .entry-media h3,
.entry-media h3 a {
    font-size: 14px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 30px;
    color: #fff;
    text-decoration: none;
}

.format-quote .entry-media p,
.format-link .entry-media p a {
    color: #fff;
    font-size: 16px;
    width: 100%;
    margin: 0;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.content-quote-format-textwrap h3 span[class*='icon-'] {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    margin-right: 5px;
}

/* Entry Status - Twitter */
.hentry .entry-status-twitter .twitter-tweet-rendered {
    max-width		: 100% !important;
    width			: 100% !important;
    margin			: 0 auto !important;
    border			: none !important;
    box-shadow		: none !important;
}

  .format-status .entry-media h3 {
	margin			: -17px 0 0;
}

.uppercase {
	text-transform	: uppercase;
}
.right .breadcrumbs {
	text-align		: center;
}
.breadcrumbs.left {
	text-align		: center;
}


p {
    margin			: 10px 0 15px;
}

.container.bootstrap {
	margin-left: auto !important;
	margin-right: auto !important;
}

#share-buttons i{}
#share-buttons i:hover{color: #0db8ca;}
#share-buttons i{}
#share-buttons i:hover{color: #0db8ca;}
.entry-title a:hover{color: #0db8ca;}
.entry-title a{color: #222222;}
span.breadcrumb-current{color:#FFED91;}
#blog {
    background: #ffffff;
    padding-top: 80px;
    position: relative;
    padding-bottom: 80px;
}
.entry-title {
    font-weight: 400;
}
a.button-post{
    background: rgba(76, 143, 255, 0.8);
    border: 1px solid #4c8fff;
    width: 160px;
    line-height: 40px;
    display: inline-block;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    margin-right: 10px;
}
a.button-post:hover {
    background: rgba(76, 143, 255, 1);
}
.button-info i.iconi {
    font-size: 120px;
    line-height: 1em;
}
.quote-slider .overlay {
    background: rgba(41, 70, 97, 0.8);
    z-index: 0;
}



.breadcumbs {
    color: #999999;
    font-size: 16px;
    font-weight: 300;
	margin:0;
	padding:0;
}
.breadcumbs ul {
    list-style: none;
	margin: 0;
    padding: 0;
}
span.breadcrumb-current {
    color: #4c8fff;
	font-weight: 600;
}
.search-form-input {
    padding: 10px 3px 10px 20px;
}
body.search article .searchform {
    margin: 0 auto;
    width: 73%;
    float: left;
}

body.search article .searchform  input[type="text"] {
    float: left;
    line-height: 30px;
    width: 80%;
    padding: 9px 0 7px 15px;
    font-size: 12px;
    color: #222222;
    background: #efefef;
    border: 1px solid #efefef;
    height: 48px;
}
body.search article .searchform input[type="submit"] {
    float: left;
    line-height: 43px;
    position: relative;
    width: 20%;
    top: 0px;
    background: #222;
    border: none;
    color: #fff;
}
body.error404 .index .searchform {
    margin: 0 auto;
    width: 73%;
    float: left;
}

body.error404 .index .searchform  input[type="text"] {
	outline: 0;
	float: left;
	min-height: 46px;
	width: 80%;
	padding: 9px 0 7px 15px;
	font-size: 12px;
	border: 0px solid #efefef;
	background: #efefef;
}
body.error404 .index .searchform input[type="submit"] {
    float: left;
    min-height: 46px;
    position: relative;
    width: 20%;
    top: 0px;
    background: #222222;
    border: none;
    color: #fff;
}

/* comments */
.container-for-comments {
    background: #fff;
}
label.screen-reader-text {
	display: none;
}

span.comment-author-link {
	color: #222;
}
.comment-form-comment {
	color: #222;
}
.container-for-comments .children {
	margin-bottom: 70px;
 }
.comments ul  {
	margin:0;
	padding:0;
	margin: 10px;
}
.comments ul li {
	list-style:none;
}
.comments ul li span .photo{ padding: 0 !important; }

.comments ul li .nt-theme-avatar{
	float: left;
	 margin-right: 30px;
 }
.comments ul li .commentlist{
	margin-left: 100px;
	border: 1px solid #EEE;
	padding: 8px 25px 20px;
}
.children {
	margin-bottom: 30px;
}
.text-bold , .comment-reply-title{
	font-size: 18px;
	margin-bottom: 30px;
	color: #222222;
}
.comment-form textarea {
	  display: block;
	  width: 100%;
	  padding: 6px 12px;
	  font-size: 14px;
	  line-height: 1.42857143;
	  color: #555;
	  border: 1px solid #eee;
}
.comment-form .submit {
	border: none;
	margin: 9px 0;
	display: inline-block;
	position: relative;
	outline: none;
	cursor: pointer;
	transition: all 0.3s;
	padding: 6px 18px;
	text-transform: inherit !important;
	display: inline-block;
	max-width: 150px;
	padding: 12px !important;
	background: #333;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	display: inline-block;
	margin: 5px 0;
	padding: 5px 15px;
	border: 1px solid rgba(0, 0, 0, .1);
	border-radius: 50px;
}

.comment-form-author, .comment-form-email {width: 48%; float:left;}
.comment-form-email {margin-left: 4%;}


/* 7. Footer */

footer.footer-top {
  padding: 15px 0 30px;
}
.template-footer-style-3 .widget  table tr td, .template-footer-style-3  table tbody tr td {
	font-size: 12px;
	color: #fff;
}
.template-footer-style-3 .widget ul,
.template-footer-style-3 .widget  ul li a,
.template-footer-style-3 .widget  table tr td,
.template-footer-style-3  table tbody tr td {
	color: #fff;
}
.template-footer-style-3 img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}
footer li.widget {
	list-style:none;
}
footer #newsletter{
	margin-top:15px;
}
footer .widget{
	margin-bottom: 0px;

}
footer .widget ul li a{
	color: #CCC0C0;
}
footer .widget .widget-head {
	color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 40px;
}
footer .widget input#email {
    background: transparent;
    border: none;
    max-width: 100%;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    width: 100%;
    font-weight: 500;
	font-size: 15px;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: 0;
}


#particle-ground .pg-canvas {position:fixed}



/* updates for wordpress defaults */
.flexslider {
    padding: 0;
    margin-bottom: 0px;
    border: none;
}
.flex-control-nav {
    display: none;
}
.flex-direction-nav a {
    width: 50px;
    height: 30px;
}
.post-container{
    padding: 0;
}

.entry-meta {
    /* font-weight: 600; */
}

/* Page header  */
.template-cover-text .uppercase{
	/* font-size: 50px; */
	/* margin-left: -4px; */
	margin-bottom: 10px;
	color: #fff;
}
.template-cover-text .col-md-8{
	color: #fff;
}
.template-cover-style-2 > .template-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 0;
}
.template-cover .template-cover-text .cover-text-sublead {
    font-size: 16px;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    line-height: 26px;
    color: #fff;
}
.index-header {
	position:relative;
}
.index-header {
    height: 65vh;
    position: relative;
    display: table;
    width: 100%;
    background-size: cover;
    background-position: center left;
}
.template-cover {
    min-height: inherit !important;
}
.template-cover-text {
    display: table-cell;
    vertical-align: middle;
    z-index: 1 !important;
}


.index-header h2 {
	margin-bottom:10px;
}

.breadcrubms {
    text-transform: capitalize;
    color: #fff;
}

.breadcrubms a{
    text-transform: capitalize;
    color: #fff;
}

.scroll-btn {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 15;
}

.scroll-btn > * {
  display: inline-block;
  line-height: 18px;
  font-size: 13px;
  font-weight: normal;
  color: #7f8c8d;
  color: #ffffff;
  font-family: Arial, sans-serif;
  letter-spacing: 2px;
}

.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
  color: #ffffff;
}

.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.scroll-btn .mouse {
  position: relative;
  display: block;
  width: 30px;
  height: 45px;
  margin: 0 auto 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 23px;
}

.scroll-btn .mouse > * {
  position: absolute;
  display: block;
  top: 29%;
  left: 50%;
  width: 2px;
  height: 6px;
  margin: -2px 0 0 -1px;
  background: white;
  -webkit-animation: ani-mouse 2.5s linear infinite;
  -moz-animation: ani-mouse 2.5s linear infinite;
  animation: ani-mouse 2.5s linear infinite;
}

/* others  */
div.wpcf7-response-output {
	margin: 0;
	padding: 1.2em 1em;
}
.wpcf7-not-valid {
    border: 1px solid #f00  !important;
}
span.wpcf7-not-valid-tip {
    color: #f00;
    font-size: 1em;
    display: block;
    display: none;
}
.wpcf7-response-output.wpcf7-validation-errors {
	display: inline-block !important;
	margin: 15px 0 !important;
	width: 100% !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 2px solid #f70000;
    background-color: #f70000;
    color: #fff;
}
.footer-btm p {
    text-transform: capitalize;
    margin: 0px;
    color: #fff;
}
div.wpcf7-mail-sent-ok {
	display: inline-block !important;
    margin: 15px !important;
    width: 97.2% !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 2px solid #398f14;
    background-color: #398f14;
    color: #fff;
}
div.wpcf7-mail-sent-ok {
    background: #398F14;
    border: 2px solid #398f14;
	color: #fff;
}
footer .widget input.wpcf7-form-control.wpcf7-submit {
    background: #f8cf27 none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    color: #222;
    font-weight: 700;
    padding: 12px 30px 7px;
    text-transform: uppercase;
}

.wpcf7 button, .wpcf7  input, .wpcf7  select, .wpcf7  textarea {
   /* font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: 0;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 10px;
    width: 100%;*/
    display: inline-block;
}
/*
.wpcf7-submit {
	max-width: 200px;
    margin: 0 auto;
    width: 200px;
    display: inherit;
    background: #288dfb;
    color: #fff;
	border: 0;
}
*/
.wpcf7 br {
	display: none;
}


/* dropdown
.nav .open > a, .nav .menu-item-has-children.open > a:hover, .nav .menu-item-has-children.open > a:focus {
    background-color: inherit !important;
    border-color: inherit !important;
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 15px;
    border-top-right-radius: 4px;
    border-top-left-radius: 3px;
}

.dropdown-menu > li > a, a.breadcrumb-item {
	text-decoration: none;
}

.dropdown-menu li {
	display: block !important;
}
.dropdown-menu {
    position: absolute;
    top: auto;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
	width: auto !important;
    min-width: 160px;
    padding: 15px !important;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #222;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: rgba(245, 245, 245, 0);
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #288dfb !important;
    text-decoration: none;
    background-color: rgba(51, 122, 183, 0);
    outline: 0;
}
*/
#template-offcanvass ul {
    padding: 60px 0 0;
}

.recent ol {
	padding: 0 17px;
}
.recent ol li {
	list-style: disc;
}
.recent h3 {
	margin-bottom: 30px;
}
#blog blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee;
}

#blog .entry-content ol, #blog  .entry-content ul, #blog  .entry-content ol li, #blog  .entry-content ul li{
	list-style:inherit;
	padding-left:10px;
	margin-left:10px
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #333;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #333;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #333;
}
:-moz-placeholder { /* Firefox 18- */
  color: #333;
}

/* responsive options

	1200px
	991px
	768px
	480px

*/

@media  (max-width: 1200px){

}

@media  (max-width: 991px){

	#widget-area {
		margin: 40px 0 0;
	}
	#widget-area #searchform input[type="text"] {
		width: 90%;
	}

	footer .widget {
		margin-bottom: 40px;
	}
	footer .widget-title {
		margin-bottom: 15px;
	}


}

@media  (max-width: 768px){

	#widget-area #searchform {
		position: relative;
		max-height: 50px;
		margin-top: 90px;
	}
	.index-header {
		height: 100vh !important;
	}

}

@media  (max-width: 480px){
	 .avatar-class {
		float: none;
		margin-right: 30px;
		margin-bottom: 15px;
		display: block;
	}
	.comment-details,.comments ul li .commentlist {
		margin-left: 0;
	}
	.pager li > a, .pager li > span {
		float: none;
		width: 100%;
	}
	.template-cover-text .uppercase {
		font-size: 100%;
		margin-left: 0px;
		margin-bottom: 10px;
		color: #fff;
	}
	.comment-meta {
		margin-bottom: 15px;
	}
}
/*
body:not(.page-template-custom-page) .title-service h1{
	font-size: 3.5vw;
}
*/
body:not(.page-template-custom-page) .hero-content {
    text-align: center;
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: inherit;
}
body .wpb_gmaps_widget .wpb_wrapper {
    background-color: #f7f7f7;
    padding: 0px;
}

iframe {
    max-width: 100%;
    height: auto;
    min-height: 420px;
}
.single .blog-post-body ul {
    text-align: left;
}
.comment-meta {
    margin-bottom: 20px;
}

.commentlist  li h1 {

    letter-spacing: -0.5px !important;

}
.fn {
    margin-left: 13px;
}
h3 {
    font-weight: 600;
    font-size: 27px;
    letter-spacing: 0 !important;
    margin: 0;
}
