
.hero-fullscreen {
    position: relative;
    height: 100vh;
    background-color: #000;
}
.hero-fullwidth {
    position: relative;
    height: 60vh;
    padding: 70px 0;
    overflow: hidden;
}
.overlay:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgba( 0, 0, 0, .35);
    z-index: 1;
}
.hero-content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.hero-content .container {
    padding: 100px 0;
    margin-top: 100px;

}
@media ( max-width: 767px ) {
    .hero-content .container {
        padding: 100px 0;
        margin-top: 69px;
    }
}
@media all and (max-width: 992px) {
    .hero-fullscreen {
        height: auto;
        padding: 0px;
    }
    .hero-fullscreen .hero-content {
        transform: none;
        -moz-transform: none;
        -webkit-transform: none;
    }
}
.hero-fullwidth.parallax > .background-image {
    height: 100%;
    top: 0;
}
/* Hero Slider */ 
.hero-slider {
    position: relative;
    top: 0;
    background-color: #191a1c;
    z-index: 1;
}
.parallax .slide {
    position: relative;
    z-index: 1;
}
.hero-slider,
.hero-slider .owl-stage-outer,
.hero-slider .owl-wrapper-outer,
.hero-slider .owl-height,
.hero-slider .owl-stage,
.hero-slider .owl-wrapper,
.hero-slider .owl-item {
    height: 100% !important;    
}   
.hero-slider .owl-stage { 
}
.hero-slider .slide { 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 100%!important; 
}  
/* Hero Video */
.hero-video {
    background-color: transparent;
    position: relative;
    overflow: hidden;
}
#forester-youtube {
    position: absolute;
    background-color: #0f1112;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -9;
    overflow: hidden;
}
@media ( min-width: 481px ) {
    .hero-video .background-image {
        display: none;
    }
}
@media ( max-width: 480px ) {
    .hero-video .background-image {
        display: initial;
    }
}

/* Parallax */
.parallax {
    position: relative;
    overflow: hidden
}
.parallax .container {
    position: relative;
    z-index: 2;
}
.parallax > .background-image {
    height: 100vh;
    top: -50vh;
    -webkit-transition: opacity 0.9s ease;
    -moz-transition: opacity 0.9s ease;
    transition: opacity 0.9s ease;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}
.hero-fullscreen .background-image {
    top: 0;
}
@media all and (max-width: 1024px) {
    .parallax > .background-image,
    .parallax .slides li > .background-image {
        top: 0 !important;
        -webkit-transform: none !important;
        -moz-transform: none !important;
        transform: none !important;
        height: 100%;
    }
}
.background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover !important;
    background-position: 50% 50% !important;
    z-index: 0;
    opacity: 0;
    background-color: #1c1c1c;
    transition: opacity .3s;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
}
.background-image img {
    display: none
}
img {
  max-width: 100%;
}