/* use this file just theme versions */

/* 1.0 version */

.search .hero-fullwidth .title-service h1,
.archive .hero-fullwidth .title-service h1,
.error404 .hero-fullwidth .title-service h1,
.single #hero h1 {
    letter-spacing: -2.5px;
    margin-bottom:20px;
    font-size: 60px;
}

.blog-article-category h6.inline {
    padding-right: 5px;
}

.entry-content p {/* line-height: 21px; */}

.single .entry-meta {
    margin: 0 ;
    padding: 0;
	font-weight: 600;
}
@media (max-width:768px){ .single .entry-meta {
    margin-top: 30px;
}
}
.single .pb30{
	margin:0;
	padding-bottom:30px;
}
.single .hero-content.pt50 .container {
    padding-top: 50px;
}
.fh5co-share ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}



/* cube portfolio custom */

.mt-60.nav-show {
    margin-top: 60px;
}
.nav-hide .cbp-nav-controls{
   display: none;
}
.cbp-nav-controls {
	text-align: center;
	width: 100%;
}
.cbp-mode-slider .cbp-nav-pagination {
    display: none;
}
.cbp-nav-next, .cbp-nav-prev {
    background: #0db8ca;
}
.cbp-nav-next, .cbp-nav-prev {
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin-left: 1px;
    height: 35px;
    width: 35px;
}
.cbp-nav-next:after{
    content: "\e628";
	font-family: 'themify';
    position: absolute;
	color: #ffffff;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background:none;
    height: 14px;
    width: 11px;
}
.cbp-nav-prev:after {
    content:  "\e629";
	font-family: 'themify';
    position: absolute;
	color: #ffffff;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background:none;
    height: 14px;
    width: 11px;
}
.cbp-popup-singlePage .cbp-nav-next:after{
    content: "";
}
.cbp-popup-singlePage .cbp-nav-prev:after {
    content:  "";
}
.cbp-caption-overlayBottom .cbp-caption-activeWrap {
	height: 50%;
}
.cbp-caption-overlayBottomPush .cbp-caption-activeWrap {
    height: 50%;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.cbp-caption-overlayBottomPush .cbp-caption:hover .cbp-caption-activeWrap {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}
.cbp-caption-overlayBottomReveal .cbp-caption-activeWrap {
    height: 50%;
}
.cbp-item .cbp-caption-activeWrap:hover .wrap {
    top: 70%;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}
.cbp-caption-overlayBottomReveal .cbp-caption:hover .cbp-caption-defaultWrap {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.cbp-caption-overlayBottomAlong .cbp-caption-activeWrap {
    height: 50%;
}
.cbp-l-filters-alignCenter .cbp-filter-item:hover .cbp-filter-counter, .cbp-l-filters-alignRight .cbp-filter-item:hover .cbp-filter-counter, .cbp-l-filters-button .cbp-filter-item:hover .cbp-filter-counter, .cbp-l-filters-buttonCenter .cbp-filter-item:hover .cbp-filter-counter, .cbp-l-filters-text .cbp-filter-item:hover .cbp-filter-counter {
    opacity: 1;
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
}
.cbp-l-filters-button .cbp-filter-counter {
    background-color: #0db8ca;
}
.cbp-l-filters-button .cbp-filter-counter:after {
    border-top: 4px solid #0db8ca;
}

/* blog masonry */

.blog .title-service.mb15 h1 {
    font-family: 'Montserrat', sans-serif;
}

.cover-text-sublead.text-center {
    text-align: #center;
	color: #000;
}
#blog.masonry-post {
    background: #ffffff;
    padding-top: 0px;
    position: relative;
    padding-bottom: 0px;
}
.blog-hero-off .pt150 {
    padding-top: 200px;
}
#blog-boxed-col-3 h2, #blogtwo-boxed-col-3 h2, #blogtwo-boxed-col-4 h2, #blogtwo-boxed-col-5 h2 {
    font-size: 32px;
}
#blog-boxed-col-3 .alignCenter h2, #blogtwo-boxed-col-3 .alignCenter h2{
    font-size: 50px;
}
@media (max-width:992px){
#blog-boxed-col-3 h2, #blogtwo-boxed-col-3 h2, #blogtwo-boxed-col-4 h2, #blogtwo-boxed-col-5 h2 {
    font-size: 50px;
}
}
.black a{
    color: #000!important;
}
.black a:hover{
    color: #8d8d8d!important;
}



/* single style2  */

.blog-modern-sidebar #widget-area .widget{
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 20px 30px;
	text-align: center;
}
.blog-modern-sidebar #widget-area .widget.widget_search {
    border: none;
    padding: 0;
    text-align: left;
}
.blog-modern-sidebar #widget-area .widget .widget-title {

}
.blog-modern-sidebar #widget-area .widget .widget-title {
    padding-bottom: 10px;
    padding-left: 0px;
	margin-bottom:0;
    color: #000;
    font: 600 11px 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.blog-modern-sidebar #widget-area .widget .widget-title:after {
    content: none;
}
.blog-modern-sidebar #share-buttons a {
    padding: 0px;
    margin: 0px;
}
.blog-modern-sidebar .blog-post-body p {
    font: 300 12px 'Poppins', sans-serif;
    letter-spacing: .2px;
}
.blog-modern-sidebar .blog-post-social ul li {
    float: none;
}
.blog-modern-sidebar #reply-title {
    margin-bottom: 20px;
}
.blog-modern-sidebar h3.comment-reply-title{
    font-weight: 600;
    font-size: 27px;
    letter-spacing: -1.5px;

}
/* cube portfolio custom */
.cbp-popup-singlePage .cbp-popup-content {
	margin-top: 85px;
}
.cbp-popup-singlePage {
    background: rgba(8, 8, 8, 0.94);
    padding: 0;
}
.cbp-popup-navigation {
    background: #0db8ca;
}
.cbp-l-project-title h1 {
	font-size: 36px;
	line-height: 1.1;
	font-weight: 700;
	letter-spacing: 1px;
	margin: 0px 0;
}
.cbp-l-project-desc-text p {
	color: #fff;
	font-size: 14px;
	text-align: justify;
}
.cbp-l-project-details .btn-primary {
    margin: 30px 0;
}
.cbp-l-project-details {
    margin-top: 5px;
}
.cbp-l-project-details-list strong {
    display: inline-block;
    color: #fff;
    font-weight: 400;
    min-width: 100px;
    font-size: 16px;
    letter-spacing: 0.5px;
}
.cbp-l-project-details-list > li, .cbp-l-project-details-list > div {
	border-bottom: 1px dotted #fff ;
	padding: inherit;
	color: #0db8ca ;
	font: 400 12px/30px "Poppins", sans-serif;
	padding: 8px 0;
}
.cbp-popup-singlePage .cbp-popup-navigation-wrap {
	height: 50px;
}
.cbp-l-project-subtitle {
	color: #0db8ca;
	font: 400 24px/21px "Poppins", sans-serif;
	margin: 0 auto 30px;
	max-width: 500px;
	text-align: center;
}
.cbp-l-project-desc-title {
    border-bottom: 1px solid #0db8ca;
    margin-bottom: 22px;
    color: #0db8ca;
	text-shadow: none;
	transition: all ease-in-out 0.3s;
}
.cbp-l-project-related-wrap {
	list-style: none;
}
.cbp-l-project-related-item img{
	transition: all ease-in-out 0.3s;
}
.cbp-l-project-related-item:hover img{
	opacity:0.5;
	transition: all ease-in-out 0.3s;
	transform: scale(1.05);
}
.cbp-l-project-related-item:hover .cbp-l-project-related-title{
	opacity: 0.5;
	transition: all ease-in-out 0.3s;
}
.cbp-l-project-desc-title span, .cbp-l-project-details-title span {
	font: 600 18px/36px "Poppins", sans-serif;
}
.cbp-l-project-related-title {
    font: 700 14px/18px "Poppins", sans-serif;
    color: #fff;
    margin-top: 20px;
}
.cbp-nav-pagination-active {
    background: #0db8ca;
}
.cbp-l-project-details-list .share-list .share i {
    padding: 8px;
    height: 20px;
    width: 20px;
    background: #060606;
	color:#0db8ca;
    line-height: 20px;
    border-radius: 30px;
	transition: all ease-in-out 0.3s;
}
.cbp-l-project-details-list .share-list .share:hover i {
    background: #0db8ca;
	color:#fff;
	transition: all ease-in-out 0.3s;
}
.cbp-l-project-desc.disable-meta {
    width: 100%;
    float: none;
}
.cbp-l-project-details.disable-desc {
    float: none;
    width: 100%;
    padding-left: 0;
    margin-bottom: 15px;
}

.mt-60.nav-show {
    margin-top: 60px;
}
.nav-hide .cbp-nav-controls{
   display: none;
}
.cbp-nav-controls {
	text-align: center;
	width: 100%;
}
.cbp-mode-slider .cbp-nav-pagination {
    display: none;
}
.cbp-nav-next, .cbp-nav-prev {
    background: #0db8ca;
}
.cbp-nav-next, .cbp-nav-prev {
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin-left: 1px;
    height: 35px;
    width: 35px;
}
.cbp-nav-next:after{
    content: "\e628";
	font-family: 'themify';
    position: absolute;
	color: #ffffff;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background:none;
    height: 14px;
    width: 11px;
}
.cbp-nav-prev:after {
    content:  "\e629";
	font-family: 'themify';
    position: absolute;
	color: #ffffff;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background:none;
    height: 14px;
    width: 11px;
}
.cbp-popup-singlePage .cbp-nav-next:after{
    content: "";
}
.cbp-popup-singlePage .cbp-nav-prev:after {
    content:  "";
}
.cbp-caption-overlayBottom .cbp-caption-activeWrap {
	height: 50%;
}
.cbp-caption-overlayBottomPush .cbp-caption-activeWrap {
    height: 50%;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.cbp-caption-overlayBottomPush .cbp-caption:hover .cbp-caption-activeWrap {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}
.cbp-caption-overlayBottomReveal .cbp-caption-activeWrap {
    height: 50%;
}
.cbp-item .cbp-caption-activeWrap:hover .wrap {
    top: 70%;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}
.cbp-caption-overlayBottomReveal .cbp-caption:hover .cbp-caption-defaultWrap {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.cbp-caption-overlayBottomAlong .cbp-caption-activeWrap {
    height: 50%;
}
.cbp-l-filters-alignCenter .cbp-filter-item:hover .cbp-filter-counter, .cbp-l-filters-alignRight .cbp-filter-item:hover .cbp-filter-counter, .cbp-l-filters-button .cbp-filter-item:hover .cbp-filter-counter, .cbp-l-filters-buttonCenter .cbp-filter-item:hover .cbp-filter-counter, .cbp-l-filters-text .cbp-filter-item:hover .cbp-filter-counter {
    opacity: 1;
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
}
.cbp-l-filters-button .cbp-filter-counter {
    background-color: #0db8ca;
}
.cbp-l-filters-button .cbp-filter-counter:after {
    border-top: 4px solid #0db8ca;
}

/* Blog style 2 Pagination  */

section.bg-white .pagination {
	margin: 50px auto;
	position: relative;
	width: 100%;
	text-align: center;
}

section.bg-white .pagination .page-numbers{
    cursor: pointer;
    border: none;
    font-size: 12px;
    font-weight: 400;
    color: #333;
    position: relative;
	line-height: 24px;
	width: 30px;
	height: 30px;
	border-radius: 100px;
	padding: 2px;
	display: inline-block;
}
section.bg-white .pagination .page-numbers.current{
    color: #fff;
    background-color: #000;
}
section.bg-white .prev.page-numbers, section.bg-white .next page-numbers {
    display: none !important;
	font-size: 0px;
}
section.bg-white .pagination .page-numbers.current{
    border-color: #000 !important;
}
.owl-carousel .owl-item img {
    height: 100%;
    max-height: 100%;
}
.flex-prev,
.flex-next {
  font-size: 0;
}
.flex-direction-nav a {
    width: 30px;
    height: 30px;
}
.flex-direction-nav a:before{
	content: "\e629";
	font-family: 'themify';
	font-size: 12px;
	position: absolute;
	color: #ffffff;
	top: 0px;
	right: 0;
	bottom: 0px;
	left: 0;
	margin: auto;
	background: #0db8ca;
	height: 30px;
	width: 30px;
	padding: 10px 0;
	text-align: center;
	border-radius: 100px;
}
.flex-direction-nav a.flex-next:before{
    content: "\e628";
	font-family: 'themify';
	font-size: 12px;
	position: absolute;
	color: #ffffff;
	top: 0px;
	right: 0;
	bottom: 0px;
	left: 0;
	margin: auto;
	background: #0db8ca;
	height: 30px;
	width: 30px;
	padding: 10px 0;
	text-align: center;
	border-radius: 100px;
}
.video-responsive {
    width: 100%;
}
.video-responsive iframe {
    width: 100%;
    height: 100%;
}

body.search article .searchform {
    float: none;
}
.recent ol li {
    list-style: none;
}
.recent ol li a:after {
	content: "\f105\f105";
	font-size:11px;
	margin-left: 15px;
	display: inline-block;
	font-family:FontAwesome;
	speak: none;
	margin-right: 5px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-rendering: auto;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.recent h3 {
    margin-bottom: 30px;
}
body.error404 .content-error .searchform input[type="text"] {
    line-height: 30px;
    width: 50%;
    padding: 9px 0 7px 15px;
    font-size: 12px;
    color: #222222;
    background: #efefef;
    border: none;
    height: 48px;
}
body.error404 .content-error .searchform input[type="submit"] {
	line-height: 43px;
	position: relative;
	width: 15%;
	top: -1px;
	background: #222;
	border: none;
	color: #fff;
	left: -3px;
}
/*sub level menu*/

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
	border-top: 4px dashed;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
    margin-top: 5px;
    margin-right: -10px;


}
@media (min-width:768px){
.dropdown-menu li {
    position:relative;
}
.dropdown-menu .dropdown-submenu>.dropdown-menu {
    top: 3%;
    margin-top: -1px;
	position:absolute;
}

.dropdown-submenu>.dropdown-menu {
	-webkit-border-radius: none;
	-moz-border-radius: none;
	border-radius:none;
	left: 0px;
	padding: 0;
}

.dropdown-submenu > .dropdown-menu{
	left:100%;
	transition:all 0.s ease;
	max-width:150px;
}
}

@media (max-width:768px){
.dropdown-submenu > .dropdown-menu li a{
	padding-left: 30px;
}
.dropdown-menu > .dropdown-submenu > .dropdown-menu > li a{
	padding-left: 40px;
}
.dropdown-menu > .dropdown-submenu > .dropdown-menu > .dropdown-submenu > .dropdown-menu li a{
	padding-left: 50px;
}
.team-img, .member-info  {
    text-align: center !important;
}
.team-img {
    margin-left: auto;
    margin-right: auto;
}
}
[data-fade-in="true"] {
    -moz-animation: fadein 3s;
    -webkit-animation: fadein 3s;
    -o-animation: fadein 3s;
    animation: fadein 3s;
}
[data-fade-out="true"] {
    -moz-animation: fadein 3s;
    -webkit-animation: fadein 3s;
    -o-animation: fadein 3s;
    animation: fadein 3s;
}
.team-overlay ul.social-icons li {
    float: none!important;
}
.rpwe-block li {
    border-bottom: 0px!important;
}
.nt-text-logo {
   color: white;
}
.nav-collapsed .site-logo {
   color : #222;
}

ul.ul-h > li a {
    color: #fff;
}

.single-style-1 #share-buttons li {
   display: inline-block;
}

.single-style-1 #share-buttons  {
   margin: 10px;
}
