.page-title:empty
{
    display:none;
}
.woocommerce div.product .product_title {
    font-size: 30px;
    font-weight: 600;
    font-weight: 700;
    line-height: .92;
    letter-spacing: -2px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.woocommerce span.onsale {
    padding: 4px 10px;
    border-radius: 30px;
    background-color: transparent;
	color: #0db8ca;
	border: 2px solid #0db8ca;
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -o-transition: background-color .3s;
    -ms-transition: background-color .3s;
    transition: background-color .3s;
}
.woocommerce span.onsale:hover {
    background-color: #0db8ca;
	color: #fff;
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -o-transition: background-color .3s;
    -ms-transition: background-color .3s;
    transition: background-color .3s;
}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button{
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    font-weight: 600;
    color: #fff;
    background-color: #0db8ca;
    text-transform: uppercase;
    line-height: 2.4 !important;
    letter-spacing: 1px;
    padding: 3px 20px!important;
    margin: 5px 0px;
    border: 2px solid;
    opacity: .98;
    border-radius: 100px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover{
	border-color: #d2deb5 !important;
	background-color: #d2deb5 !important;
	color: #ffffff !important;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}
.woocommerce .entry-summary button.button.alt{
	margin: 0px 10px;
	background-color: #0db8ca;
	border: 2px solid #0db8ca;
}
.woocommerce.single-product .entry-summary button.button.alt{
	margin: 0px 10px;
	background-color: #0db8ca;
	border: 2px solid #0db8ca;
	padding: 11px 11px !important;
}
.woocommerce .entry-summary button.button.alt:hover{
	color: #0db8ca;
	background-color: transparent;
	border-color: #0db8ca;
}
.woocommerce .woocommerce-ordering select {
    border: 1px solid rgba(0, 0, 0, .1);
}
.woocommerce  #widget-area {
    padding-top: 8px;
}
.woocommerce.single-product  #widget-area {
    padding-top: 0px;
}
.woocommerce  #widget-area .widget{
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 20px 30px;
	margin-bottom: 40px;
}

.woocommerce  #widget-area .widget.widget_search{
    border: none;
    padding: 0;
}
.woocommerce  #widget-area .widget .widget-title {

}
.woocommerce  #widget-area .widget .widget-title {
    padding-bottom: 10px;
    padding-left: 0px;
	margin-bottom:0;
    color: #000;
    font: 600 11px 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.woocommerce  #widget-area .widget .widget-title:after {
    content: none;
}
.woo-sidebar .widget ul > li {
    padding: 0 0 10px !important;
}
.woocommerce #widget-area .widget a {
	font: 300 12px 'Poppins', sans-serif;
	letter-spacing: .2px;
}
.woocommerce-tabs h2, .related.products h2{
    font-size: 25px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 30px;
    color: #000;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
	border: 1px solid rgba(0, 0, 0, .1);
	background-color: #fff;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
    border: 1px solid rgba(0, 0, 0, .1);
    background-color: #fff;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:after, .woocommerce div.product .woocommerce-tabs ul.tabs li:before {
	border: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    border: 1px solid #0db8ca;
    background-color: #0db8ca;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a{
    color: #fff;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:after {
    box-shadow: -2px 2px 0 #0db8ca;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:before {
	box-shadow: 2px 2px 0 #0db8ca;
}
.woocommerce .page-title { display : none; }
.woocommerce ul.products li.product .price del {
    display: inline-block;
}
.woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled, .woocommerce #respond input#submit:disabled[disabled], .woocommerce a.button.disabled, .woocommerce a.button:disabled, .woocommerce a.button:disabled[disabled], .woocommerce button.button.disabled, .woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled], .woocommerce input.button.disabled, .woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled] { background: #f9f9f9; }
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    position: inherit;
}
.woocommerce .widget_price_filter .price_slider_amount .button {
    font-size: 1.15em;
    float: left;
    line-height: 1.5 !important;
    font-size: 11px;
    padding: 7px 13px !important;
}
button.single_add_to_cart_button.button.alt {
    line-height: 1.2 !important;
}
.woocommerce form .form-row input[type=submit] {
margin: 0;
}
