/*////////////////////////////////////////
//////////////////////////////////////////
// 9. FOOTER SECTION
/////////////////////////////////////////
///////////////////////////////////////*/

/*---------- White Footer ----------*/
#footer ul {
    margin-bottom: 0;
    padding: 0px 0px 10px 0px;
}
#footer .social-icons li {
    display: inline-block;
    padding: 5px 20px;
    color: #000;
    font: 600 11px 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    opacity: .98;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}
@media (max-width: 768px) {
    #footer .social-icons li {
        padding: 5px 10px;
    }
}
@media (max-width: 548px) {
    #footer .social-icons li {
        padding: 10px 40px;
    }
}
@media (max-width: 423px) {
    #footer .social-icons li {
        padding: 10px 15px;
    }
}
#footer .social-icons li a i {
    position: relative;
    top: 1px;
    margin-right: 11px;
    padding-right: 5px;
    border-right: 1px solid rgba(0, 0, 0, .2);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}
#footer .social-icons li a i {
    border-right: 1px solid rgba(0, 0, 0, .2);
}
#footer .social-icons li a {
    color: #000;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}
#footer .social-icons li a {
    color: #000;
}
#footer .social-icons li a:hover {
    opacity: .65;
}
#footer .footer-info h6{
    display: inline-block;
    padding: 0 15px;
	font: 300 12px 'Poppins', sans-serif;
    letter-spacing: .2px;
    color: #8d8d8d;
}
#footer p {
    font: 300 16px/1.65em 'Poppins', sans-serif;
	letter-spacing: .2px;
    color: #8d8d8d;
}
.border-top {
    border-top: 1px solid rgba(0, 0, 0, .1)
}

/*---------- Black Footer ----------*/
#footer-black ul {
    margin-bottom: 0;
    padding: 0px 0px 10px 0px;
}
#footer-black .social-icons li {
    display: inline-block;
    padding: 5px 20px;
    color: #fff;
    font: 600 11px 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    opacity: .98;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}
@media (max-width: 768px) {
    #footer-black .social-icons li {
        padding: 5px 10px;
    }
}
@media (max-width: 548px) {
    #footer-black .social-icons li {
        padding: 10px 40px;
    }
}
@media (max-width: 423px) {
    #footer-black .social-icons li {
        padding: 10px 15px;
    }
}
#footer-black .social-icons li a i {
    position: relative;
    top: 1px;
    margin-right: 11px;
    padding-right: 5px;
    border-right: 1px solid rgba(0, 0, 0, .2);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}
#footer-black .social-icons li a i {
    border-right: 1px solid rgba(255, 255, 255, .2);
}
#footer-black .social-icons li a {
    color: #fff;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}
#footer-black .social-icons li a {
    color: #fff;
}
#footer-black .social-icons li a:hover {
    opacity: .65;
}
#footer-black .footer-info h6 {
    display: inline-block;
    padding: 0 15px;
}
.border-top {
    border-top: 1px solid rgba(0, 0, 0, .1)
}
.border-top-white {
    border-top: 1px solid rgba(255, 255, 255, .1)
}
.m-auto {
    margin: 0 auto;
    float: none;
}
.text-center {
    text-align: center;
}
.pr5 {
    padding-right: 5px;
}
.pb60 {
    padding-bottom: 60px;
}
.pt60 {
    padding-top: 60px;
}
.bg-gray {
    background-color: #f7f7f7;
}
/*////////////////////////////////////////
//////////////////////////////////////////
// 13. NAVIGATION STYLES
/////////////////////////////////////////
///////////////////////////////////////*/

/*////////////////////////////////////////
// Navbar - Transparent White
///////////////////////////////////////*/
.navbar.transparent-white {
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    background-color: transparent;
}
.navbar.transparent-white.nav-collapsed {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    background-color: #fff;
}
.navbar.transparent-white .navbar-nav>li>a {
    color: #fff;
    background-color: transparent;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
}
.navbar.transparent-white .navbar-nav>li>a:hover {
    color: #fff;
    opacity: .6;
}
.navbar.transparent-white .collapse.in .navbar-nav>li>a{
    color: #000;
}
.navbar.transparent-white .collapse.in .navbar-nav>li>a:hover {
    color: #000;
    opacity: .6;
}
.navbar.transparent-white.nav-collapsed .navbar-nav>li>a {
    color: #000;
    background-color: transparent;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
}
.navbar.transparent-white.nav-collapsed .navbar-nav>li>a:hover {
    color: #000;
    opacity: .6;
}
/* Collapsed Mobile Menu Styles */
@media ( max-width: 767px ) {
    .navbar.transparent-white {
        background-color: #fff;
        border-bottom: 1px solid rgba(0, 0, 0, .09);
    }
}
/* Logo Display Styles */
@media ( min-width: 768px ) {
    .navbar.transparent-white .logo-light {
        display: initial;
    }
    .navbar.transparent-white .logo-dark {
        display: none;
    }
    .navbar.transparent-white.nav-collapsed .logo-dark {
        display: initial;
    }
    .navbar.transparent-white.nav-collapsed .logo-light {
        display: none;
    }
}
@media ( max-width: 767px ) {
    .navbar.transparent-white .logo-light {
        display: none;
    }
    .navbar.transparent-white .logo-dark {
        display: initial;
    }
    .navbar.transparent-white.nav-collapsed .logo-dark {
        display: initial;
    }
    .navbar.transparent-white.nav-collapsed .logo-light {
        display: none;
    }
}
/* Sandwich Toggle Menu Styles */
@media ( max-width: 767px ) {
    .navbar.transparent-white .navbar-toggle .icon-bar {
        background-color: #c2c2c2;
    }
}
/* Dropdown Menu Styles */
.navbar.transparent-white .navbar-nav li.dropdown ul.dropdown-menu li a {
    color: #8d8d8d;
}
.navbar.transparent-white .navbar-nav li.dropdown ul.dropdown-menu li a:hover {
    color: #fff;
}
.navbar.transparent-white.nav-collapsed .navbar-nav li.dropdown ul.dropdown-menu li a {
    color: #8d8d8d;
}
.navbar.transparent-white.nav-collapsed .navbar-nav li.dropdown ul.dropdown-menu li a:hover {
    color: #fff;
}
@media ( max-width: 767px ) {
    .navbar.transparent-white .navbar-nav li.dropdown ul.dropdown-menu li a {
        color: #8d8d8d;
    }
    .navbar.transparent-white .navbar-nav li.dropdown ul.dropdown-menu li a:hover {
        color: #000;
    }
    .navbar.transparent-white.nav-collapsed .navbar-nav li.dropdown ul.dropdown-menu li a {
        color: #8d8d8d;
    }
    .navbar.transparent-white.nav-collapsed .navbar-nav li.dropdown ul.dropdown-menu li a:hover {
        color: #000;
    }
}

.navbar-black .dropdown-menu {
    background-color: #000;
}
.nav-menu > li:last-child > .dropdown-menu {


    right: 30%;
    left: inherit;

}
/*////////////////////////////////////////
// Navbar - Transparent Black
///////////////////////////////////////*/
.navbar.transparent-black {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    background-color: transparent;
}
.navbar.transparent-black.nav-collapsed {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    background-color: #fff;
}
.navbar.transparent-black .navbar-nav>li>a {
    color: #000;
    background-color: transparent;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
}
.navbar.transparent-black .navbar-nav>li>a:hover {
    color: #000;
    opacity: .6;
}
.navbar.transparent-black .collapse.in .navbar-nav>li>a{
    color: #000;
}
.navbar.transparent-black .collapse.in .navbar-nav>li>a:hover {
    color: #000;
    opacity: .6;
}
.navbar.transparent-black.nav-collapsed .navbar-nav>li>a {
    color: #000;
    background-color: transparent;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
}
.navbar.transparent-black.nav-collapsed .navbar-nav>li>a:hover {
    color: #000;
    opacity: .6;
}
/* Collapsed Mobile Menu Styles */
@media ( max-width: 767px ) {
    .navbar.transparent-black {
        background-color: #fff;
        border-bottom: 1px solid rgba(0, 0, 0, .09);
    }
}
/* Logo Display Styles */
@media ( min-width: 768px ) {
    .navbar.transparent-black .logo-light {
        display: none;
    }
    .navbar.transparent-black .logo-dark {
        display: initial;
    }
    .navbar.transparent-black.nav-collapsed .logo-dark {
        display: initial;
    }
    .navbar.transparent-black.nav-collapsed .logo-light {
        display: none;
    }
}
@media ( max-width: 767px ) {
    .navbar.transparent-black .logo-light {
        display: none;
    }
    .navbar.transparent-black .logo-dark {
        display: initial;
    }
    .navbar.transparent-black.nav-collapsed .logo-dark {
        display: initial;
    }
    .navbar.transparent-black.nav-collapsed .logo-light {
        display: none;
    }
}
/* Sandwich Toggle Menu Styles */
@media ( max-width: 767px ) {
    .navbar.transparent-black .navbar-toggle .icon-bar {
        background-color: #c2c2c2;
    }
}
/* Dropdown Menu Styles */
.navbar.transparent-black .navbar-nav li.dropdown ul.dropdown-menu li a {
    color: #8d8d8d;
}
.navbar.transparent-black .navbar-nav li.dropdown ul.dropdown-menu li a:hover {
    color: #fff;
}
.navbar.transparent-black.nav-collapsed .navbar-nav li.dropdown ul.dropdown-menu li a {
    color: #8d8d8d;
}
.navbar.transparent-black.nav-collapsed .navbar-nav li.dropdown ul.dropdown-menu li a:hover {
    color: #fff;
}
@media( max-width: 767px ) {
    .navbar.transparent-black .navbar-nav li.dropdown ul.dropdown-menu li a {
        color: #8d8d8d;
    }
    .navbar.transparent-black .navbar-nav li.dropdown ul.dropdown-menu li a:hover {
        color: #000;
    }
    .navbar.transparent-black.nav-collapsed .navbar-nav li.dropdown ul.dropdown-menu li a {
        color: #8d8d8d;
    }
    .navbar.transparent-black.nav-collapsed .navbar-nav li.dropdown ul.dropdown-menu li a:hover {
        color: #000;
    }
}


/*////////////////////////////////////////
// Navbar - White
///////////////////////////////////////*/
.navbar.navbar-white {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    background-color: #fff;
}
.navbar.navbar-white.nav-collapsed {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    background-color: #fff;
}
.navbar.navbar-white .container {
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar.navbar-white .navbar-nav>li>a {
    color: #000;
    background-color: transparent;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
}
.navbar.navbar-white .navbar-nav>li>a:hover {
    color: #000;
    opacity: .6;
}
.navbar.navbar-white .collapse.in .navbar-nav>li>a{
    color: #000;
}

.navbar.navbar-white .collapse.in .navbar-nav>li>a:hover {
    color: #000;
    opacity: .6;
}
.navbar.navbar-white.nav-collapsed .navbar-nav>li>a {
    color: #000;
    background-color: transparent;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
}
.navbar.navbar-white.nav-collapsed .navbar-nav>li>a:hover {
    color: #000;
    opacity: .6;
}
/* Collapsed Mobile Menu Styles */
@media ( max-width: 767px ) {
    .navbar.navbar-white {
        background-color: #fff;
        border-bottom: 1px solid rgba(0, 0, 0, .09);
    }
}
/* Logo Display Styles */
@media ( min-width: 768px ) {
    .navbar.navbar-white .logo-light {
        display: none;
    }
    .navbar.navbar-white .logo-dark {
        display: initial;
    }
    .navbar.navbar-white.nav-collapsed .logo-dark {
        display: initial;
    }
    .navbar.navbar-white.nav-collapsed .logo-light {
        display: none;
    }
}
@media ( max-width: 767px ) {
    .navbar.navbar-white .logo-light {
        display: none;
    }
    .navbar.navbar-white .logo-dark {
        display: initial;
    }
    .navbar.navbar-white.nav-collapsed .logo-dark {
        display: initial;
    }
    .navbar.navbar-white.nav-collapsed .logo-light {
        display: none;
    }
}
/* Sandwich Toggle Menu Styles */
@media ( max-width: 767px ) {
    .navbar.navbar-white .navbar-toggle .icon-bar {
        background-color: #c2c2c2;
    }
}
/* Dropdown Menu Styles */
.navbar.navbar-white .navbar-nav li.dropdown ul.dropdown-menu li a {
    color: #8d8d8d;
}
.navbar.navbar-white .navbar-nav li.dropdown ul.dropdown-menu li a:hover {
    color: #fff;
}
.navbar.navbar-white.nav-collapsed .navbar-nav li.dropdown ul.dropdown-menu li a {
    color: #8d8d8d;
}
.navbar.navbar-white.nav-collapsed .navbar-nav li.dropdown ul.dropdown-menu li a:hover {
    color: #fff;
}
.navbar.navbar-white .navbar-nav>li>.dropdown-menu {
    margin-top: 10px;
}
@media( max-width: 767px ) {
    .navbar.navbar-white .navbar-nav li.dropdown ul.dropdown-menu li a {
        color: #8d8d8d;
    }
    .navbar.navbar-white .navbar-nav li.dropdown ul.dropdown-menu li a:hover {
        color: #000;
    }
    .navbar.navbar-white.nav-collapsed .navbar-nav li.dropdown ul.dropdown-menu li a {
        color: #8d8d8d;
    }
    .navbar.navbar-white.nav-collapsed .navbar-nav li.dropdown ul.dropdown-menu li a:hover {
        color: #000;
    }
}


/*////////////////////////////////////////
// Navbar - Black
///////////////////////////////////////*/
.navbar.navbar-black {
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    background-color: #000;
}
.navbar.navbar-black.nav-collapsed {
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    background-color: #000;
}
.navbar.navbar-black .container {
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar.navbar-black .navbar-nav>li>a {
    color: #fff;
    background-color: transparent;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
}
.navbar.navbar-black .navbar-nav>li>a:hover {
    color: #fff;
    opacity: .6;
}
.navbar.navbar-black .collapse.in .navbar-nav>li>a {
    color: #fff;
}
.navbar.navbar-black .collapse.in .navbar-nav>li>a:hover {
    color: #fff;
    opacity: .6;
}
.navbar.navbar-black.nav-collapsed .navbar-nav>li>a {
    color: #fff;
    background-color: transparent;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
}
.navbar.navbar-black.nav-collapsed .navbar-nav>li>a:hover {
    color: #fff;
    opacity: .6;
}
/* Logo Display Styles */
@media ( min-width: 768px ) {
    .navbar.navbar-black .logo-light {
        display: initial;
    }
    .navbar.navbar-black .logo-dark {
        display: none;
    }
    .navbar.navbar-black.nav-collapsed .logo-dark {
        display: none;
    }
    .navbar.navbar-black.nav-collapsed .logo-light {
        display: initial;
    }
}
@media ( max-width: 767px ) {
    .navbar.navbar-black .logo-light {
        display: initial;
    }
    .navbar.navbar-black .logo-dark {
        display: none;
    }
    .navbar.navbar-black.nav-collapsed .logo-dark {
        display: none;
    }
    .navbar.navbar-black.nav-collapsed .logo-light {
        display: initial;
    }
}
/* Sandwich Toggle Menu Styles */
@media ( max-width: 767px ) {
    .navbar.navbar-black .navbar-toggle .icon-bar {
        background-color: #fff;
    }
}
/* Dropdown Menu Styles */
.navbar.navbar-black .navbar-nav li.dropdown ul.dropdown-menu li a {
    color: #8d8d8d;
}
.navbar.navbar-black .navbar-nav li.dropdown ul.dropdown-menu li a:hover {
    color: #fff;
}
.navbar.navbar-black.nav-collapsed .navbar-nav li.dropdown ul.dropdown-menu li a {
    color: #8d8d8d;
}
.navbar.navbar-black.nav-collapsed .navbar-nav li.dropdown ul.dropdown-menu li a:hover {
    color: #fff;
}
.navbar.navbar-black .navbar-nav>li>.dropdown-menu {
    margin-top: 10px;
}
@media( max-width: 767px ) {
    .navbar.navbar-black .navbar-nav li.dropdown ul.dropdown-menu li a {
        color: #8d8d8d;
    }
    .navbar.navbar-black .navbar-nav li.dropdown ul.dropdown-menu li a:hover {
        color: #fff;
    }
    .navbar.navbar-black.nav-collapsed .navbar-nav li.dropdown ul.dropdown-menu li a {
        color: #8d8d8d;
    }
    .navbar.navbar-black.nav-collapsed .navbar-nav li.dropdown ul.dropdown-menu li a:hover {
        color: #fff;
    }
    .navbar.navbar-black .collapse.in .navbar-nav>li>a, .navbar.navbar-black.nav-collapsed .collapse.in .navbar-nav>li>a {
        color: #fff;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -o-transition: all .3s;
        -ms-transition: all .3s;
        transition: all .3s;
    }
}


/*////////////////////////////////////////
// Header Global Styles
///////////////////////////////////////*/
.navbar {
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    background-color: transparent;
    font: 600 11px 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
     transition: all .2s;
}
.navbar .navbar-nav>li>a {
    color: #fff;
    background-color: transparent;
    opacity: .99;
}
.navbar .navbar-nav>li>a:hover {
    color: #fff;
    opacity: .6;
}
.navbar .navbar-nav>li.dropdown a i {
    font-size: 9px;
    padding-left: 2px;
    position: relative;
    bottom: 1px;
}
.navbar .container {
    padding: 25px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
     transition: all .2s;
}
/* Collapsed Menu Global Styles */
.nav-collapsed {
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
     transition: all .2s;
}
.nav-collapsed .navbar-nav>li>a {
    color: #000;
}
.nav-collapsed .navbar-nav>.active>a, .nav-collapsed .navbar-nav>.active>a:focus, .nav-collapsed .navbar-nav>.active>a:hover {
    background-color: transparent;
    color: #000;
}
.nav-collapsed .container {
    padding: 10px 25px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
     transition: all .2s;
}
.navbar.nav-collapsed {
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 1px solid rgba(0, 0, 0, .09);
}
.navbar.nav-collapsed a {
    color: rgba(0, 0, 0, 1);
}
.navbar-collapse.in {
    overflow-y: visible;
}
/* Collapsed Mobile Menu Global Styles */
@media ( max-width: 767px ) {
    .navbar {
        background-color: #fff;
        border-bottom: 1px solid rgba(0, 0, 0, .09);
    }
    .navbar .container {
        margin: 0 15px;
        padding: 10px 25px;
        -webkit-transition: padding .2s;
        -moz-transition: padding .2s;
        -o-transition: padding .2s;
        -ms-transition: padding .2s;
        transition: padding .2s;
    }
    .navbar .collapse.in .navbar-nav>li>a,
    .navbar.nav-collapsed .collapse.in .navbar-nav>li>a {
        color: #000;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -o-transition: all .3s;
        -ms-transition: all .3s;
        transition: all .3s;
    }
    .navbar .collapse.in .navbar-nav>.active>a, .navbar .navbar-nav>.active>a:focus, .navbar .navbar-nav>.active>a:hover {
        background-color: transparent;
        color: #000;
    }
}
/* Global Logo Styles */
.navbar-header img {
    margin: 15px 0;
    max-height: 35px;
    max-width: 155px;
}
.nav-logo-left .navbar-header img {
    margin:0;
}
.nav-logo-left .navbar-nav>li>a {
   padding-top: 5px;
}
@media ( max-width: 767px ) {
    .navbar-header img {
        margin: 15px 0 15px 15px;
    }
}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin: 0;
}
/* Sandwich Toggle Menu Styles */
@media ( max-width: 767px ) {
    .navbar .navbar-toggle {
        display: block;
        border: none;
        padding: 9px 0px;
        margin: 8px 15px 8px 0;
    }
    .navbar .navbar-toggle .icon-bar {
        display: block;
        width: 19px;
        height: 3px;
        background-color: #c2c2c2;
    }
    .navbar-toggle .icon-bar+.icon-bar {
        margin-top: 3px;
    }
    .navbar .navbar-toggle:focus, .navbar .navbar-toggle:hover {
        background-color: transparent;
    }
    /* Sandwich Toggle Menu Animation */
    .navbar-toggle {
        border: none;
        background: transparent;
    }
    .navbar-toggle:hover {
        background: transparent;
    }
    .navbar-toggle .icon-bar {
        width: 19px;
    -webkit-transition: transform .3s;
    -moz-transition: transform .3s;
    -o-transition: transform .3s;
    -ms-transition: transform .3s;
    transition: transform .3s;
    }
    .navbar-toggle .top-bar {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transform-origin: 2% 60%;
        -moz-transform-origin: 2% 60%;
        -o-transform-origin: 2% 60%;
        -ms-transform-origin: 2% 60%;
        transform-origin: 2% 60%;
    }
    .navbar-toggle .middle-bar {
        opacity: 0;
    }
    .navbar-toggle .bottom-bar {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transform-origin: 8% 60%;
        -moz-transform-origin: 8% 60%;
        -o-transform-origin: 8% 60%;
        -ms-transform-origin: 8% 60%;
        transform-origin: 8% 60%;
    }
    .navbar .navbar-toggle.collapsed .top-bar {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -o-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
    }
    .navbar .navbar-toggle.collapsed .middle-bar {
        opacity: 1;
    }
    .navbar .navbar-toggle.collapsed .bottom-bar {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -o-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
    }
}
/* Dropdown Menu Global Styles */
.navbar .navbar-nav>li>.dropdown-menu {
    margin-top: 26px;
}
.navbar.nav-collapsed .navbar-nav>li>.dropdown-menu {
    margin-top: 10px;
}
@media ( max-width: 767px ) {
    .navbar.nav-collapsed .navbar-nav>li>.dropdown-menu,
    .navbar .navbar-nav>li>.dropdown-menu {
        margin-top: 0px;
    }
}
.navbar .navbar-nav li.dropdown ul.dropdown-menu li a {
    color: #8d8d8d;
}
.navbar .navbar-nav li.dropdown ul.dropdown-menu li a:hover {
    color: #fff;
}
.navbar.nav-collapsed .navbar-nav li.dropdown ul.dropdown-menu li a {
    color: #8d8d8d;
}
.navbar.nav-collapsed .navbar-nav li.dropdown ul.dropdown-menu li a:hover {
    color: #fff;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    left: inherit;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 260px;
    padding: 0px 0 10px;
    margin: 2px 0 0;
    text-align: left;
    list-style: none;
    background-color: #131212;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .1);
    box-shadow: 0 6px 25px rgba(0, 0, 0, .1);
}
.dropdown-menu>li>a {
    font: 300 12px/1.8 'Poppins', sans-serif;
    letter-spacing: .2px;
    padding: 10px 20px;
    text-transform: none;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    background-color: rgba(255, 255, 255, .03);
}
.dropdown-menu li {
    border-bottom: 1px solid rgba(255, 255, 255, .07);
}
.dropdown-menu li:last-child {
    border-bottom: 0px;
}
.dropdown-menu .divider {
    height: 1px;
    margin: 7px 0;
    overflow: hidden;
    background-color: #232323;
}

/*////////////////////////////////////////
//////////////////////////////////////////
// 14. HERO STYLES
/////////////////////////////////////////
///////////////////////////////////////*/

/* Hero Fullscreen */
.hero-fullscreen {
    position: relative;
    height: 100vh;
    background-color: #000;
}
.hero-fullwidth {
    position: relative;
    height: 60vh;
    padding: 70px 0;
    overflow: hidden;
}
.overlay:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgba( 0, 0, 0, .35);
    z-index: 1;
}
.hero-content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.hero-content .container {
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 100px;

}
@media ( max-width: 767px ) {
    .hero-content .container {
        padding: 100px;
        margin-top: 69px;
    }
}
@media all and (max-width: 992px) {
    .hero-fullscreen {
        height: auto;
        padding: 0px;
    }
    .hero-fullscreen .hero-content {
        transform: none;
        -moz-transform: none;
        -webkit-transform: none;
    }
}
.hero-fullwidth.parallax > .background-image {
    height: 100%;
    top: 0;
}
/* Hero Slider */
.hero-slider {
    position: relative;
    top: 0;
    background-color: #191a1c;
    z-index: 1;
}
.parallax .slide {
    position: relative;
    z-index: 1;
}
.hero-slider,
.hero-slider .owl-stage-outer,
.hero-slider .owl-wrapper-outer,
.hero-slider .owl-height,
.hero-slider .owl-stage,
.hero-slider .owl-wrapper,
.hero-slider .owl-item {
    height: 100% !important;
}
.hero-slider .owl-stage {
}
.hero-slider .slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 100%!important;
}
/* Hero Video */
.hero-video {
    background-color: transparent;
    position: relative;
    overflow: hidden;
}
#forester-youtube {
    position: absolute;
    background-color: #0f1112;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -9;
    overflow: hidden;
}
@media ( min-width: 481px ) {
    .hero-video .background-image {
        display: none;
    }
}
@media ( max-width: 480px ) {
    .hero-video .background-image {
        display: initial;
    }
}

/* Parallax */
.parallax {
    position: relative;
    overflow: hidden
}
.parallax .container {
    position: relative;
    z-index: 2;
}
.parallax > .background-image {
    height: 100vh;
    top: -50vh;
    -webkit-transition: opacity 0.9s ease;
    -moz-transition: opacity 0.9s ease;
    transition: opacity 0.9s ease;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}
.hero-fullscreen .background-image {
    top: 0;
}
@media all and (max-width: 1024px) {
    .parallax > .background-image,
    .parallax .slides li > .background-image {
        top: 0 !important;
        -webkit-transform: none !important;
        -moz-transform: none !important;
        transform: none !important;
        height: 100%;
    }
}
.background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover !important;
    background-position: 50% 50% !important;
    z-index: 0;
    opacity: 0;
    background-color: #1c1c1c;
    transition: opacity .3s;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
}
.background-image img {
    display: none
}
img {
  max-width: 100%;
}

h1 {
    font-size: 185px;
    line-height: .95;
    font-weight: 700;
    letter-spacing: 6.5px;
    margin: 5px 0;
}
@media ( max-width: 1199px ) {
    h1 {
        font-size: 64px;
    }
}
@media ( max-width: 992px ) {
    h1 {
        letter-spacing: px;
        font-size: 100px;
    }
}
@media ( max-width: 767px ) {
    h1 {
        font-size: 50px;
    }
}
h2 {
    font-size: 50px;
    font-weight: 700;
    margin: 0;
}
@media ( max-width: 768px ) {
    h2 {
        font-size: 40px;

    }
}
@media ( max-width: 480px ) {
    h2 {
        font-size: 35px;
        letter-spacing: -1.5px;
    }
}
.white{color: #fff!important}
.mb15{margin-bottom:15px}
.heading-title {
	font: 300 12px 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 4px;
    text-transform: uppercase;
    line-height: 1;
    padding-bottom: 10px;
}
.breadcrubms span {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}
.breadcrubms span {
    font: 600 11px 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #fff;
	text-decoration:none!important;
}
.breadcrubms a {
	text-decoration:none!important;
}




#back-to-top {
    position: fixed;
    color: #fff;
    background-color: #0db8ca;
    z-index: 100;
    bottom: 32px;
    right: 32px;
    display: none;
    cursor: pointer;
    border-radius: 2px;
    height: 30px;
    width: 30px;
    display: block;
    text-align: center;
    opacity: 0;
    transition: background-color 0.1s linear;
    -moz-transition: background-color 0.1s linear;
    -webkit-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
}
#back-to-top:hover {
    color: #fff;
    background-color: #1F2023;
}
#back-to-top .icon {
    font-size: 10px;
    position: absolute;
    top: 70%;
    right: 0px;
    left: 0px;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transform: translateY(-50%);
    display: inherit;
    width: inherit;
    height: inherit;
    /* line-height: inherit; */
    vertical-align: inherit;
    margin-left: inherit;
}

.blog-article {
   margin-bottom: :15px;
}


.no-border {display: inline-block;width: 0;height: inherit;margin-left: 3px;font-size: 14px !important;vertical-align: middle;border-top: 4px dashed;border-top: 4px solid\9;border-right: 4px solid transparent;border-left: 4px solid transparent;border: 0 !important;}
