.counter, .highlight, .blog-post-social ul li a:hover i {
	color: #ff981e;
}
#back-to-top, .bg-primary {
	background-color: #ff981e;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:focus, 
.btn-primary:target, 
.btn-primary:active:focus {
    background-color: #ff981e;
}
.btn-primary:hover, .btn-primary:active:focus {
    background-color: #ff981e;
}
.btn-primary-sec,
.btn-primary-sec:hover,
.btn-primary-sec:focus, 
.btn-primary-sec:target, 
.btn-primary-sec:active:focus {
    background-color: #ff981e;
}
.btn-black:hover, .btn-black:focus {
    background-color: #ff981e;
}